<%= form_tag "/directors" do %>

  <div>
    <label for="name">Director:</label>
    <input size="80" name="name" id="name" placeholder="Example: Ron Howard">
  </div>

  <input type="submit" name="commit" value="Add Director">

<% end %>





